body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;  /* Optimal width for alignment */
    width: 100%;       /* Responsive width */
    margin: auto;
    padding: 20px;     /* Increased padding for better centering */
    box-sizing: border-box; /* Includes padding in width calculation */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.site-title a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

nav ul li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.iframe-container iframe {
    width: 100%;
    height: 100vh;  /* This sets the iframe height to be 100% of the viewport height */
    border: none;
    display: block;
    overflow-y: hidden;  /* Hides the vertical scrollbar */
}

@media (max-width: 768px) {
    .container {
        width: 95%; /* Adjust for smaller screens */
        padding: 20px; /* Reduced padding on smaller devices */
    .iframe-container iframe {
            height: auto; /* Let the iframe height adjust naturally on smaller screens */
        }
    }

    .header {
        justify-content: center;
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }
}

.icon-github, .icon-twitter {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
